.main {
  background-color: #e4e9ff;
  overflow: hidden;
  height: 66vh;
}

.jumbotron {
  margin-left: 75px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  right: 1vw;
}

.primaryJumbotron {
  display: flex;
}

.textSide {
  padding: 0 15px;
  width: 74%;
  top: -50px;
  position: relative;
}

.textSide .title {
  font-size: 4.5vw;
  font-weight: 600;
  margin-top: 7vw;
  margin-bottom: 2vw;
  color: #283996;
  line-height: 6vw;
}

.textSide .title span {
  color: #F15423;
}

.textSide .subsButton {
  margin-left: -1px;
}

.textSide .note {
  display: flex;
  margin-top: 1rem;
}

.featureList {
  display: flex;
  width: 65vw;
}

.featureList .feature {
  display: flex;
  width: -1vw;
}

.featureList .feature .featureImage {
  background-color: white;
  border-radius: 4vw;
  padding: 1.5vw;
  cursor: pointer;
  width: 2vw;
  height: 2vw;
}

.featureList .feature .featureImage img{
  width: 2.2vw;
  height: 2.2vw;  
}

.featureList .feature .textpart {
  margin: 0 1vw;
}

.featureList .feature .featuretitle {
  font-size: 1.7vw;
  font-weight: 500;
  margin: 0.5vw 0;
}

.featureList .feature .text {
  color: rgb(249, 68, 2);
  margin: 0.5vw 0;
  font-weight: 500;
}

.featureList .feature .subtext {
  color: #6d6d6d;
  margin: 0.5vw 0;
  font-size: 1.3vw;
  font-weight: 500;
}

.two-buttons {
  margin-top: 2vw;
  display: flex;
  gap: 2vw;
}

.two-buttons .get-started {
  padding: 1.5vw 3vw;
  background-color: #283996;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 0.5vw;
  align-self: center;
}

.two-buttons .watch-video {
  cursor: pointer;
  background-color: #fff;
  padding: 1.5vw 2vw;
  border: 1px solid black;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  font-weight: 600;
  display: flex;
  gap: 1vw;
  align-items: center;
  height: 1vw;
}

/* .textSide .note img {
  width: 45px;
  height: 45px;
  padding: 10px;
}

.textSide .note p {
  font-size: 16px;
  font-weight: 500;
} */

.imgSide {
  /* width: 19%; */
  /* padding: 0 15px; */
  position: absolute;
  right: 6vw;
  bottom: 5vw;
}

.imgSide img {
  max-width: 20vw;
  /* height: 72vh;
  left: -3vw; */
}

@media (min-width: 350px) and (max-width: 767px) {
  .main {
    display: block;
    background-color: #eaeefd;
    height: 77vh;
  }

  .jumbotron {
    width: 91%;
    margin: 0 0;
    padding: 0 3vw;
    /* display: inline; */
  }

  .primaryJumbotron {
    margin-bottom: 5rem;
    display: block;
  }

  .textSide {
    padding: 0 15px;
    width: 100%;
    top: -50px;
    position: relative;
    margin: 0;
  }

  .textSide .title {
    font-size: 6vw;
    font-weight: 600;
    margin-top: 17vw;
    margin-bottom: 1.5rem;
    line-height: 8vw;
  }

  .featureList {
    display: block;
  }

  .featureList .feature {
    display: flex;
    margin: 4vw 0;
}

.featureList .feature .featureImage{
  background-color: white;
  border-radius: 11vw;
  padding: 3.5vw;
  cursor: pointer;
}

  .featureList .feature .featureImage img {
    width: 11vw;
    height: 6vh;
  }

  .featureList .feature .textpart {
    margin: 0 6vw;
    z-index: 999;
  }

  .featureList .feature .featuretitle {
    font-size: 4.5vw;
    font-weight: 600;
    margin: 0.5vw 0;
  }

  .featureList .feature .text {
    color: rgb(249, 68, 2);
    margin: 0 0 1vw;
    font-weight: 500;
    font-size: 3.5vw;
  }

  .featureList .feature .subtext {
    color: #6d6d6d;
    margin: 0.5vw 0;
    font-size: 3vw;
    font-weight: 500;
  }

  .imgSide {
    display: flex;
    justify-content: end;
    padding-right: 0;
  }

  /* .imgSide img {
    width: 50vw;
    height: 48vh;
    position: absolute;
  } */

  .two-buttons {
    margin-top: 5vw;
    z-index: 999;
    position: absolute;
    display: inline;
  }

  .two-buttons .get-started {
    padding: 4vw 10vw;
    background-color: #283996;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 1vw;
    margin-bottom: 4vw;
  }

  .two-buttons .watch-video {
    cursor: pointer;
    background-color: #fff;
    padding: 5vw 8vw;
    border: 1px solid black;
    border-radius: 1vw;
    font-size: 3.5vw;
    font-weight: 600;
    display: flex;
    gap: 1vw;
    align-items: center;
    height: 1vw;
  }

  .watch-video .css-i4bv87-MuiSvgIcon-root {
    width: 4vw !important ;
  }
}
