.main {
  background-color: #e4e9ff;
  overflow: hidden;
  height: 76vh;
}

.jumbotron {
  margin-left: 155px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  right: 1vw;
}

.primaryJumbotron {
  display: flex;
}

.textSide {
  padding: 0 15px;
  width: 74%;
  top: -50px;
  position: relative;
}

.textSide .title {
  font-size: 4vw;
  font-weight: 600;
  margin-top: 4vw;
  margin-bottom: 3rem;
  color: #283996;
  line-height: 5.5vw;
}

.textSide .title span {
  color: rgb(249, 68, 2);
}

.textSide .subsButton {
  margin-left: -1px;
}

.textSide .note {
  display: flex;
  margin-top: 1rem;
}

.featureList {
  display: flex;
  width: 65vw;
}

.featureList .feature {
  display: flex;
  width: -1vw;
}

.featureList .feature .image {
  width: 3vw;
  height: 3vw;
  background-color: white;
  border-radius: 4vw;
  padding: 1.5vw;
  cursor: pointer;
}

.featureList .feature .textpart {
  margin: 0 1vw;
}

.featureList .feature .featuretitle {
  font-size: 1.7vw;
  font-weight: 600;
  margin: 0.5vw 0;
}

.featureList .feature .text {
  color: rgb(249, 68, 2);
  margin: 0.5vw 0;
  font-weight: 500;
}

.featureList .feature .subtext {
  color: #6d6d6d;
  margin: 0.5vw 0;
  font-size: 1.3vw;
  font-weight: 500;
}

.two-buttons{
margin-top: 2vw;
display: flex;
gap: 2vw;
}

.two-buttons .get-started{
  padding: 1.5vw 3vw;
    background-color: #283996;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 0.5vw;
    align-self: center;
}

.two-buttons .watch-video{
  cursor: pointer;
  background-color: #fff;
  padding: 1.5vw 2vw;
  border: 1px solid black;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  font-weight: 600;
  display: flex;
  gap: 1vw;
  align-items: center;
  height: 1vw;
}


/* .textSide .note img {
  width: 45px;
  height: 45px;
  padding: 10px;
}

.textSide .note p {
  font-size: 16px;
  font-weight: 500;
} */

.imgSide {
  width: 19%;
  padding: 0 15px;
}

.imgSide img {
  width: 23vw;
  height: 72vh;
  position: relative;
  top: 2vw;
  left: -3vw;
}

@media (max-width: 650px) {
  .main {
    display: block;
    background-color: #fff;
    height: 100%;
  }

  .jumbotron {
    width: 91%;
    margin: 0 0;
    padding: 0 3vw;
    /* display: inline; */
  }

  .primaryJumbotron {
    margin-bottom: 5rem;
    display: block;
  }

  .textSide {
    padding: 0 15px;
    width: 100%;
    top: -50px;
    position: relative;
    margin: 0;
  }
  .textSide .title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 43px;
    margin-bottom: 1.5rem;
  }

  /* .imgSide{
    position: absolute;
  } */

  .imgSide img {
    width: 363px;
    position: absolute;
    top: 42vh;
    left: 1vh;
  }
}
