.page2{
    background-color: #283a97;
}
.background{
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
    margin: 3rem 150px 0 150px;
}

.textBlock{
color: white;
display: flex;
flex-direction: column;
justify-content: center;
width: 30%;
}

.textBlock h2{
font-size: 30px;
}

.textBlock p{
    font-size: 19px;
    font-weight: 500;
    line-height: 1.5;
}

.imgBlock{
    width: 58%;
}

.imgBlock img{
width: 100%;
}