.stats {
  padding: 60px 78px;
  background-color: #FAF9F9;
}

.statsTitle {
  text-align: center;
  padding: 0 10px;
}

.head {
  font-size: 3vw;
  font-weight: 600;
}

.statsFold {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2vw 0;
  justify-content: space-between;
  align-items: flex-start;
  padding: 27px;
  margin-top: 27px;
  width: 100%;
}

.entirestats {
  width: 25vw;
  text-align: center;
}

.entirestats img {
  width: 5vw;
  height: 5vw;
  margin: 1vw;
}

.entirestats .textPart {
  align-items: center;
}

.entirestats .textPart .text {
  font-size: 1.3vw;
  font-weight: 500;
  margin: 0;
}

.entirestats .textPart .subText {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.22rem;
  width: 150px;
}

@media (min-width: 350px) and (max-width: 767px) {
  .stats {
    padding: 48px 35px;
    background-color: #FAF9F9;
  }
  
  .statsTitle {
    text-align: center;
    padding: 0 !important;
  }

  .head {
    font-size: 10vw !important;
    font-weight: 600;
    text-align: center;
    line-height: 15vw;
  }

  .statsFold {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 15vw 8vw;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 27px;
    width: 100%;
    padding: 0 !important;
  }

  .entirestats{
    width: 30vw;
    text-align: center;
  }

  .entirestats img {
    width: 15vw;
    height: 10vh;
    margin: 1vw;
}

.entirestats .textPart .text {
  font-size: 4.2vw;
  font-weight: 500;
  margin: 0;
  line-height: 5vw;
}
}