.stats {
  padding: 60px 78px;
  background-color: #FAF9F9;
}

.statsTitle {
  text-align: center;
  padding: 0 10px;
}

.head {
  font-size: 3vw;
  font-weight: 600;
}

.statsFold {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2vw 0;
  justify-content: space-between;
  align-items: flex-start;
  padding: 27px;
  margin-top: 27px;
  width: 100%;
}

.entirestats {
  width: 25vw;
  text-align: center;
}

.entirestats img {
  width: 5vw;
  height: 5vw;
  margin: 1vw;
}

.entirestats .textPart {
  align-items: center;
}

.entirestats .textPart .text {
  font-size: 1.3vw;
  font-weight: 500;
  margin: 0;
}

.entirestats .textPart .subText {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.22rem;
  width: 150px;
}
