.textImgContainer {
  margin: 90px 110px 0;
  padding: 0 15px;
  text-align: center;
}

.textImgTitle {
  font-size: 35px;
  font-weight: 550;
  margin: 0 202px 36px;
}

.textImgBlock {
  display: flex;
  flex-direction: row;
  gap: 10vw;
  height: 400px;
  margin-top: 100px;
}

.textImgBlock img{
  width: 32vw;
  height: 23vw;
}

.alltext .texts {
  text-align: start;
  border-bottom: 2px solid #BFC5E9;
  width: 35vw;
  height: 5vw;
}

.alltext .texts .text1{
  font-weight: 600;
  padding-bottom: 1vw;
  cursor: pointer;
  /* padding-right: 15vw; */
}

.alltext .texts .text2{
  font-weight: 500;
}

@media (min-width: 350px) and (max-width: 767px) {
  .textImgContainer {
    margin: 0 !important;
    padding: 0 15px;
    text-align: center;
  }

  .textImgTitle {
    margin: 0 !important;
    font-size: 35px;
    font-weight: 550;
}

.textImgBlock {
display: inline;
}

.textImgBlock img {
  width: 95vw;
  height: 40vh;
}

.alltext .texts {
  text-align: start;
  width: 89vw;
  height: 15vw;
}
}

